.details-container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 10px 0;
  height: calc(100vh - 80px);
}

.details-image-container {
  width: 45%;
  margin-right: 10px;
  object-fit: contain;
}

.details-image {
  border: 10px solid yellow;
  border-radius: 1rem;
  width: 95%;
}

.details-description {
  border: 10px solid yellow;
  border-radius: 1rem;
  background-color: lightgray;
  width: 45%;
  margin-left: 10px;
  padding: 20px;
}

.detail-fields {
  background-color: lightgray;
  padding: 5px 0 5px 15px;
  margin: 4px 0;
}
