.meal-container {
  height: 65vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  text-align: center;
  border: 5px solid yellow;
  border-radius: 1rem;
}

.meal-button {
  background: #00000074;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border: 5px solid yellow;
  border-radius: 1rem;
  padding: 15px;
  margin: 20px;
  width: 100%;
}

.meal-button:hover {
  background: yellow;
}
