.search-letter-container {
  padding: 10px;
}

.search-letter-container h3 {
  text-align: center;
}

.list-alphabetical {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.list-alphabetical li a {
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}
